<div class="login-container">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.Email" #emailNgModel="ngModel" required />
        <div class="error-message" *ngIf="emailNgModel.invalid && (emailNgModel.dirty || emailNgModel.touched)">
          Valid email is required
        </div>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.Password" #passwordNgModel="ngModel" required 
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{8,}" />
        <div class="error-message" *ngIf="passwordNgModel.invalid && (passwordNgModel.dirty || passwordNgModel.touched)">
          Password must include at least one uppercase letter, one lowercase letter, one digit, and one special character
        </div>
      </div>
  
      <button type="submit" id="submit" [disabled]="loginForm.invalid">LOGIN</button>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
  </div>
  