<form (ngSubmit)="submitFeedback()">
  <h2>Add Feedback</h2>

  <!-- <label for="feedbackText">Your Feedback:</label> -->
  <textarea class="feedback-input"
    [(ngModel)]="feedbackss.feedbackText"
    name="FeedbackText"
    placeholder="Write your feedback here in detail..."
    required>
  </textarea>

  <p class="validation-message" *ngIf="validationMessage">{{ validationMessage }}</p>

  <button type="submit" class="submit-btn">Submit</button>
</form>

<!-- Success Popup with Overlay -->
<div *ngIf="showSuccessPopup" class="modal-overlay">
  <div class="modal">
    <p>Feedback submitted successfully!</p>
    <button (click)="closeSuccessPopup()">Close</button>
  </div>
</div>
