<div class="container">
  <h1>My Internship Applications</h1>

  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" (input)="searchInternships()" class="form-control"
      placeholder="Search by Company Name or Title or Location" />
  </div>

  <div *ngIf="filteredInternships.length === 0">
    <p>Oops! No applications found.</p>
  </div>

  <table *ngIf="filteredInternships.length > 0" class="styled-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Duration</th>
        <th>Stipend</th>
        <th>Skills</th>
        <th>Deadline</th>
        <th>Status / Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of filteredInternships; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ app.title }}</td>
        <td>{{ app.companyName }}</td>
        <td>{{ app.location }}</td>
        <td>{{ app.durationInMonths }}</td>
        <td>{{ app.stipend }}</td>
        <td>{{ app.skillsRequired }}</td>
        <td>{{ app.applicationDeadline | date }}</td>
        <td>
          <button
            *ngIf="!hasApplied(app.internshipId)"
            class="btn btn-green"
            (click)="applyForInternship(app.internshipId)">
            Apply
          </button>
          <button
            *ngIf="hasApplied(app.internshipId)"
            class="btn btn-applied">
            Applied
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>